# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
pip-selfcheck.json

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Logs
logs/
*.log
pip-log.txt
crash.log

# Database files
data/
*.db
*.sqlite
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tosca/
.pytest_cache/
.mypy_cache/
.nosexy/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.coverage
.coverage.*

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System files
.DS_Store
Thumbs.db
